extends layout

block content
	.jumbotron.jumbotron-fluid
		.container
			h1.display-4 About Us
			p.lead FreeSociety.network is a brand new social networt that isn't bogged down by advertisements, and does not follow your every move (isn't it nice to have some privacy?).
			a.btn.btn-info-outline.btn-lg.m-t-1(href='/register') Get Started Now!