extends layout

block content
	.jumbotron.jumbotron-fluid
		.container
			hr.my-4
			h1.display-4 Contact Us
			p.lead Tell me your thoughts, I'd love to hear them :)
			a.btn.btn-info-outline.btn-lg.m-t-1(href='mailto:roy.shap1@gmail.com' target="_blank") Get in touch
			hr.my-4