extends layout

block content
	.jumbotron.jumbotron-fluid
		.container
			h1.display-4 Error &#9785;
			if message
				p.lead #{message}.
			else
				p.lead 500 - Sorry, an internal server error has occurred.