extends layout

block content
	.jumbotron.jumbotron-fluid
		.container
			h1.display-3 A fresh New Social Networking Site
			p.lead Keep In Touch With Whomever You Want (and not so much...)
			a.btn.btn-info-outline.btn-lg(href='/register') Get Started Now