extends layout

block content
	main
		h1 Log In
		form.form-signin(method='POST' action='/login')
			label.sr-only(for='email') Email
			input.form-control(type='text' aria-describedby="emailHelp" id='email' placeholder='email' name='email')
			label.sr-only(for='password') Password
			input.form-control(type='password' id='password' placeholder='password' name='password')
			button.btn.btn-lg.btn-primary.btn-block(type='submit') Log in