nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.sticky-top
	button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation")
		span.navbar-toggler-icon
	#navbarToggle.collapse.navbar-collapse
		a.navbar-brand(href='/') FreeSociety.network
		ul.navbar-nav
			if !currentUser
				li.nav-item
					a.nav-link(href='register') Sign Up
			li.nav-item
				a.nav-link(href='about') About
			li.nav-item
				a.nav-link(href='contact') Contact
			if currentUser
				li.nav-item
					a.nav-link(href='profile') My Profile
				li.nav-item
					img.size-40-40.img-thumbnail.hidden-xs-down(src="/img/sunglasses.png", alt="avatat")
					a.btn.btn-info.pull-md-right(href='/logout') Logout
			else
				li.nav-item
					a.btn.btn-info.pull-md-right(href='login') Login