extends layout

block content
	h1 Sign Up
	form(method='POST', action='/register')
		div.form-group
			label.sr-only(for='name') Name:
			input.form-control#name(type='text', placeholder='First and last names' name='name')
			label.sr-only(for='email') Email:
			input.form-control#email(type='email', placeholder='Email' name='email')
			label.sr-only(for='pw') Password:
			input.form-control#pw(type='password' name='password' placeholder='Password')
			label.sr-only(for='pw2') Confirm Password:
			input.form-control#pw2(type='password' name='confirmPassword' placeholder='Repeat your password')
			button.btn.btn-primary(type='submit') Sign up