.size-38-38 {
	box-sizing: border-box;
	height: 38px;
	width: 38px;
}
footer {
	position: relative;
	/* bottom: 0; */
	/* right: 0; */
	background-color: transparent;
	opacity: 0.5;
}
form {
	width: 90%;
	margin: 0 auto;
}
form > a {
	text-align: center;
}
.jumbotron > .container {
	/* border-top: 1px solid rgba(0,0,0,.1); */
	border-bottom: 1px solid rgba(0,0,0,.1);
}
#navbarToggle > ul {
	position: fixed;
	right: 1%;
}