.size-40-40 {
	height: 40px;
	width: 40px;
}
footer {
	background-color: #f5f5f5;
	opacity: 0.5;
	margin: 0 auto;
}
form {
	width: 90%;
	margin: 0 auto;
}
form > a {
	text-align: center;
}
.stick-right {
	right: 0;
}
.jumbotron > .container {
	/* border-top: 1px solid rgba(0,0,0,.1); */
	border-bottom: 1px solid rgba(0,0,0,.1);
}
#navbarToggle > ul {
	position: fixed;
	right: 1%;
}